body {
    background-color: #EDE6DB;
}

body {margin: 0;}

.top-div {
    
}


.mid-div {
    background-color: red;
    width: 200px;
    height: 200px;
}

.bot-div {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.prospan {
    text-decoration: underline;
}